@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-image: url('./assets/img/main_bg.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}